{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "YOUR_PROJECT_ID",
    "storage_bucket": "YOUR_BUCKET"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_APP_ID",
        "android_client_info": {
          "package_name": "com.example.smart_crop_assistant"
        }
      },
      "api_key": [{ "current_key": "YOUR_FIREBASE_ANDROID_API_KEY" }]
    }
  ],
  "configuration_version": "1"
}
